application filter=lfs diff=lfs merge=lfs -text
assets filter=lfs diff=lfs merge=lfs -text
composer.json filter=lfs diff=lfs merge=lfs -text
index.php filter=lfs diff=lfs merge=lfs -text
license.txt filter=lfs diff=lfs merge=lfs -text
user_guide filter=lfs diff=lfs merge=lfs -text
your_project_db.sql filter=lfs diff=lfs merge=lfs -text
contributing.md filter=lfs diff=lfs merge=lfs -text
readme.rst filter=lfs diff=lfs merge=lfs -text
system filter=lfs diff=lfs merge=lfs -text
